.intro_heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    text-align: left;
}

.intro_description {
    font-family: 'Halant', serif;
    font-size: 1.2em;
    text-align: left;
}