header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5rem 1rem;
    background-color: transparent;
    color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

header a {
    cursor: pointer;
}

header a:hover {
    color: var(--primary-color);
}

header a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: var(--primary-color);
    transition: width 0.3s ease;
}

header a:hover::after {
    width: 100%;
}

.logo {
    font-weight: 900;
    color: var(--tertiary-color);
}

.navigation,
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .menu li:not(:last-of-type) {
    margin-right: .5rem;
}

.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background: var(--tertiary-color);
    border-radius: 10px;
    cursor: pointer;
    z-index: 12;
    transition: .3s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: var(--tertiary-color);
    border-radius: 10px;
    transition: .3s;
}

.hamburger::before {
    top: -10px;
    width: 25px;
}

.hamburger::after {
    top: 10px;
    width: 25px;
}

.toggle_menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 13;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle_menu {
    display: none;
}

.navigation input:checked~.hamburger {
    background: transparent;
}

.navigation input:checked~.hamburger::before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.navigation input:checked~.hamburger::after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navigation input:checked~.menu {
    right: 0;
}

.active_link {
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 8;
}

nav button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    color: var(--tertiary-color);
    transition: color 0.3s ease;
}

nav button:hover {
    color: var(--background-color);
}

nav button:disabled {
    visibility: hidden;
    opacity: 0;
    cursor: none;
}

@media screen and (max-width: 900px) {

    .hamburger,
    .toggle_menu {
        display: block;
    }

    .header {
        padding: .5rem 1rem;
    }

    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -180px;
        background-color: rgba(11, 12, 16, .6);
        width: 180px;
        height: 100%;
        padding-top: 65px;
        transition: right 1.5s ease;
    }

    .menu li {
        margin-right: 0;
        width: 100%;
    }

    .menu li a {
        padding: 30px;
        font-size: 1.2rem;
    }
}