#about_modal_open_button {
    border: none;
    text-decoration: none;
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 9;
    transform: translate(-40%);
    color: var(--tertiary-color);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 16px;
    border-radius: 8px;
    font-style: italic;
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
    box-shadow: 0 4px 12px rgba(192, 192, 192, 0.1);
}

#about_modal_open_button:hover {
    border-radius: 16px;
    color: var(--primary-color);
    box-shadow: 0 12px 24px rgba(192, 192, 192, .7)
}

#about_modal_open_button:focus {
    outline-offset: 2px;
}

.hidden {
    display: none;
    opacity: 0;
}

.about_modal {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%) scale(0);
    opacity: 0;
    transition: opacity 1.5s ease, transform 1.5s ease;
    width: 50%;
    min-height: 75%;
    border-radius: 8px;
    background-color: rgba(11, 12, 16, .7);
    box-shadow: 0 8px 20px rgba(192, 192, 192, 0.3);
    z-index: 10;
    padding-inline: 20px;
    display: block;
}

.about_modal.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.about_modal.hidden {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    text-align: justify;
}

.expose_wrapper * {
    font-size: .6rem;
}

.expose_wrapper p {
    text-indent: 1rem;
}

.close_wrapper {
    width: 100%;
    display: flex;
    z-index: 10;
    transform: rotate(0deg);
    opacity: 1;
}


.close {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    transform: rotate(0deg);
    transition: transform 1s ease, opacity 1s ease;
}

.close_wrapper:hover .close {
    transform: rotate(180deg);
    opacity: .5;
}

.close:hover,
.close:focus {
    color: var(--tertiary-color);
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

.expose_wrapper div,
.expose_wrapper hr {
    text-align: justify;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.expose_wrapper div {
    padding: 10px 0;
}

.expose_wrapper span {
    color: var(--primary-color);
}

/* Base styles for mobile-first */
@media only screen and (max-width: 500px) {
    .about_modal {
        margin-top: 10px;
        width: 90%;
        height: 80%;
    }

    .expose_wrapper * {
        font-size: .5rem;
    }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
    .about_modal {
        width: 60%;
    }

    .expose_wrapper * {
        font-size: .5rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .about_modal {
        width: 50%;
    }

    .expose_wrapper * {
        font-size: .6rem;
    }
}

@media only screen and (min-width: 1025px) {
    .about_modal {
        width: 40%;
    }
}