html {
    font-size: 100%;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;

    scroll-behavior: smooth;
}

body {
    position: relative;

    font-size: 16px;
    font-weight: 400;

    overflow-x: hidden;
    overflow-y: hidden;
    background: var(--background-color);
    color: var(--tertiary-color);
}

body,
h1,
h2,
h3,
p,
ul,
li,
a,
button,
section {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    text-align: justify;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

button {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.05rem;
}

ul {
    list-style: none;
    font-size: .8rem;
}

@media (max-width: 600px) {
    body {
        font-size: 0.875rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.125rem;
    }

    p,
    ul,
    li,
    a,
    button,
    section {
        font-size: 0.875rem;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p,
    ul,
    li,
    a,
    button,
    section {
        font-size: 1rem;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    body {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    p,
    ul,
    li,
    a,
    button,
    section {
        font-size: 1.125rem;
    }
}

@media (min-width: 1201px) {
    body {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 2rem;
    }

    p,
    ul,
    li,
    a,
    button,
    section {
        font-size: 1.25rem;
    }
}