/* .stripes_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.stripes {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    width: 200%;
    animation: moveStripes linear infinite;
    animation-duration: 20s;
}

.stripe {
    height: 20px;
    width: 20px;
}

.black {
    background-color: black;
}

.silver {
    background-color: silver;
}

.red {
    background-color: rgb(32, 14, 14);
}

.startfield {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: url('path/to/starfield.png') repeat;
    opacity: 0.5;

}

@keyframes moveStripes {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
} */